= navbar
.container
  = form_tag update_collection_trucks_path, id: 'js-main-truck-form', multipart: true do
    %table.table.bs__table_borderless
      %tbody.js-truck-start-label
        = render view: 'new'
        = show_trucks
