.row.driver-box__bgtruck_withoutborder
  =fields_for "trucks[][clients]", ::Client.new, index: nil do |client_ff|
    .col-sm-3
      = client_ff.select(:id, clients_select_pairs, {}, class: 'form-control form-box__select form-box__select_white-blue js-render-client-fields')
