.note
  = fields_for "trucks", truck, index: nil do |ff|
    .row.driver-box__bgtruck
      .col-sm-3
        = ff.select(:id, truck_select_pairs, {},
                    class: 'form-control form-box__select form-box__select_blue truck_id')
      .col-sm-2
        = ff.select(:driver_id, driver_select_pairs, {},
                    class: 'form-control form-box__select form-box__select_blue driver_id')
    = slow_select_with_input_values(ff)
    //= render view: 'client_fields', locals: {ff: ff, index: truck_index}
    .row.form-control__border_white
