= navbar
.container.navbar_margin
  = form_tag update_collection_drivers_path, id: 'js-main-form', multipart: true do
    %table.table.bs__table_borderless
      %tbody.js-driver-start-label
        = show_drivers
