= navbar
.container.navbar_margin
  = form_tag update_collection_points_path, id: 'js-main-point-form', multipart: true do
    %table.table.bs__table_borderless
      %tbody.js-point-start-label
        = show_points
