%tr.driver-box__bgtruck
  %td.driver-box__td
    = fields_for("points[new#{new_point_key}]", model['model']) do |ff|
      = ff.text_field :name, class: 'driver-box__input driver-box__text', placeholder: I18n.t('driver.form.input.placeholder'), autofocus: true
  %td
    = link_to image_tag('delete_row.png'), '', id: 'js-clean-field'
