%tr.form-box
  %td
    = fields_for("notes[]", model) do |ff|
      = ff.select(:truck_id, form_select_trucks, {}, class: 'form-box__select form-box__select_blue')
      = ff.select(:truck_driver_id, form_select_drivers, {}, class: 'form-box__select form-box__select_blue')
  %td
    = link_to image_tag('delete_row.png'), '', id: 'js-clean-field'
  %br
  .myborder
