= navbar
.container.navbar_margin
  = new_input_field_link
  = form_tag update_collection_clients_path, id: 'js-main-form', multipart: true do
    %table.table.bs__table_borderless
      %tbody.js-form-start-label
        = show_clients
