= fields_for "clients[#{client_id}][inputs_attributes]" do |ff|
  .driver-box__input-wrapper
    = ff.text_field :name, value: nil, class: 'driver-box__input_mini driver-box__text', placeholder: 'Input'
    = image_tag 'delete_row.png', class: 'destroy-field__image'
