.driver-box__input {
    /* Rectangle 4: */
    background: #FFFFFF;
    border: 1px solid #D0EFFF;
    border-radius: 2px;
    vertical-align: middle;
    padding: 9px;
    width: 222px;
}

.driver-box__text {
    /* %: */
    font-family: '.AppleSystemUIFont';
    font-size: 14px;
    color: #202020;
    letter-spacing: 0;
}

.driver-box__delete {
    /* Oval: */
    background: #D0EFFF;
    /* Rectangle 4: */
    background: #003FFF;
    text-align: center;
}

.driver-box__bgtruck {
    /* Bg Truck: */
    height: 80px;
    background: #FFFFFF;
    border-color: #D0EFFF;
    border-style: solid;
    border-width: 1px;
    valign: middle;
}
