/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 *= require sweet-alert
 *= require form
 */

body {
    background: #D0EFFF;
}
#toast-container {
  position: absolute;
  top: 20px;
}
.bs__table_borderless > tbody > tr > td,
.bs__table_borderless > tbody > tr > th,
.bs__table_borderless > tfoot > tr > td,
.bs__table_borderless > tfoot > tr > th,
.bs__table_borderless > thead > tr > td,
.bs__table_borderless > thead > tr > th {
    border: none;
    vertical-align: middle;
}

.driver-box__input {
    /* Rectangle 4: */
    background: #FFFFFF;
    border: 1px solid #D0EFFF;
    border-radius: 2px;
    vertical-align: middle;
    padding: 7px;
    width: 222px;
}
.form-control__border_white{
  height: 20px;
  background: #FFFFFF;
}
.driver-box__input_mini {
    /* Rectangle 4: */
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #D0EFFF;
    border-radius: 2px;
    vertical-align: middle;
    padding: 7px;
    margin-left: 0px;
    width: 100%;
}
.mg-20{
  margin-top: 20px;
}
.driver-box__input_supermini {
    /* Rectangle 4: */
    background: #FFFFFF;
    border: 1px solid #D0EFFF;
    border-radius: 2px;
    vertical-align: middle;
    padding: 7px;
    margin-left: 20px;
    width: 60px;
    height: 40px;

}
.driver-box__text {
    /* %: */
    font-family: 'AppleSystemUIFont';
    font-size: 14px;
    color: #202020;
    letter-spacing: 0;
}
