.form-box__select{
  border: 1px solid #D0EFFF;
  border-radius: 2px;
  vertical-align: middle;
  padding: 7px;
  height: 38px;
  display: inherit;
  width: 222px;
  color: #0045FA;
}
.form-box__select_blue{
  margin-top: 20px;
  background: #0045FA;
  color: #FFFFFF;
  text-indent: 7px;
  display: inline-block;
  margin-left: 0px;
}
.form-box__select_white-blue{
  margin-top: 20px;
  margin-left: 0px;
  background: #cdf0fe;
  color: #0045FA;
  text-indent: 7px;
}
.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
  border: none;
  vertical-align: middle;
}
